<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>简单表单</title>
    <!-- import CSS -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <link rel="stylesheet"
        href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/element-ui/2.15.0/theme-chalk/index.min.css">
</head>

<body>
    <div id="app">
        <div v-if="status.loading" class="fixed_full flex_center bg_01 z_top">
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!-- 登录框 -->
        <el-dialog :visible.sync="login.visible" title="请输入账号密码后点击登录">
            <el-input placeholder="请输入账号" v-model="login.account" clearable autofocus> </el-input>
            <div style="margin-top: 15px;">
                <el-input placeholder="请输入密码" v-model="login.password" show-password></el-input>
            </div>
            <div style="margin-top: 15px;">
                <el-button @click="do_login()">登录</el-button>
            </div>
        </el-dialog>

        <!-- 主容器 -->
        <el-container style="border: 1px solid #eee;">

            <el-container>
                <el-header class="flex_between">
                    <div>
                        <!-- <el-input style="width: auto;" placeholder="搜索" v-model="familys.keyword" clearable
                            > </el-input>
                        <el-button @click="get_familys()">查询</el-button>
                        <el-button @click="output_familys()">导出</el-button> -->
                        <span v-text="login.name"></span>
                    </div>
                    <div>

                        <el-button v-if="!login.status" @click="login.visible = true">登录</el-button>
                        <el-button v-if="login.status" @click="logout">退出</el-button>
                        <el-button @click="newRowVisible=true,this.thisRowId = ''">新增数据</el-button>
                    </div>
                </el-header>

                <el-main style="padding:5px;">





                    <el-table v-if="rows" :data="rows" border style="width: 100%">
                        <el-table-column v-for="item in columns.data" :prop="item.column_name"
                            :label="item.defalt_value">
                        </el-table-column>


                        <el-table-column width="270" align="center" fixed="right" label="操作">
                            <template slot-scope="scope">
                                <el-button @click="updateRow(scope.row)">编辑</el-button>
                                <el-button @click="deleteRow(scope.row)">删除</el-button>
                                <el-button @click="outputRow(scope.row)">导出</el-button>
                            </template>
                        </el-table-column>

                    </el-table>



                    <el-drawer v-if="thisNewRow" title="编辑" :visible.sync="newRowVisible" direction="rtl" size="50%">
                        <el-form>
                            <el-form-item v-for="item in columns.data" :label="item.defalt_value">
                                <el-input v-model="thisNewRow[item.column_name]" @input="$forceUpdate()"
                                    auto-complete="off"></el-input>
                            </el-form-item>
                        </el-form>


                        <el-button v-show="thisRowId.length==0" style="margin: 15px;" @click="thisRowId='',doNewRow()">
                            保存</el-button>
                        <el-button v-show="thisRowId" style="margin: 15px;" @click="doUpdateRow()">更新</el-button>
                    </el-drawer>

                    <!-- <div class="flex_between" style="margin-top: 10px;">
                        <el-button @click="load_familys(sub(status.offset,50))">上一页</el-button>
                        <el-button @click="load_familys(add(status.offset,50))">下一页</el-button>
                    </div> -->
                </el-main>
            </el-container>
        </el-container>
    </div>
</body>
<!-- import Vue before Element -->
<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/2.6.14/vue.min.js"></script>
<!-- import JavaScript -->
<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/element-ui/2.15.0/index.min.js"></script>
<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/axios/0.21.1/axios.min.js"></script>
<script>
    const form_id = window.location.href.split("form_id=")[1]
    if (form_id == undefined) {
        window.location.assign("/")
    }
    new Vue({
        el: '#app',
        mounted: function () {
            console.log("mounted");
            if (!localStorage["x-api-user-code"]) {
                this.login.visible = true;
            } else {
                this.login.status = true;
                this.login.name = localStorage["name"];
                this.familys.table = [];
                this.load_rows();
                this.load_columns();
            }

        },
        data: function () {
            return {
                login: {
                    account: "",
                    password: "",
                    visible: false,
                    name: "请登录",
                    status: false
                },
                status: {
                    loading: false,
                    offset: 0,
                    limit: 20,
                },

                api: {
                    rows: (form_id) => {
                        return `https://xlsx-collecter-api.imhcg.cn/api/xlsx/${form_id}/sheet/rows`
                    },
                    columns: (form_id) => {
                        return `https://xlsx-collecter-api.imhcg.cn/api/xlsx/${form_id}/sheet/columns`
                    },
                    form_user_login: (form_id) => {
                        return `https://xlsx-collecter-api.imhcg.cn/api/xlsx/${form_id}/user/login`
                    },
                    row: (form_id) => {
                        return `https://xlsx-collecter-api.imhcg.cn/api/xlsx/${form_id}/sheet/row`
                    },
                    update_row: (form_id, row_id) => {
                        return `https://xlsx-collecter-api.imhcg.cn/api/xlsx/${form_id}/sheet/rows/${row_id}`
                    },
                    delete_row: (form_id, row_id) => {
                        return `https://xlsx-collecter-api.imhcg.cn/api/xlsx/${form_id}/sheet/rows/${row_id}`
                    },
                    output_row: (form_id, row_id) => {
                        return `https://xlsx-collecter-api.imhcg.cn/api/xlsx/${form_id}/sheet/rows/${row_id}/xlsx`
                    },

                },
                familys: {
                    table: [],
                    is_edit: false,
                    temp: {},
                    keyword: ""
                },
                rows: [],
                columns: [],
                newRowVisible: false,
                thisNewRow: {},
                thisRowId: "",
                deleteRowPopVisible: false,

            }
        },
        methods: {
            add(a, b) {
                this.status.offset = Number(a) + Number(b);
                return this.status.offset;
            },
            sub(a, b) {
                this.status.offset = Number(a) - Number(b)
                if (this.status.offset < 0) {
                    this.message("已经是第一页", "warning");
                    this.status.offset = 0;
                    return this.status.offset;
                } else {
                    return this.status.offset;
                }
            },

            logout() {
                delete localStorage["x-api-user-code"];
                delete localStorage["name"];
                this.login.visible = true;
                this.login.name = "请登录";
                this.rows = [];
                this.columns = [];
            },
            http_get: function (url, callback) {
                this.status.loading = true;
                console.log("开始请求数据 <- ", url);
                axios
                    .get(url, {
                        headers: {
                            "x-api-user-code": localStorage["x-api-user-code"],
                        },
                    })
                    .then((response) => {
                        callback(response);
                    })
                    .catch((error) => {
                        if (error) {
                            console.log("error:", error);
                            if (error.response.status in { 401: "", 403: "" }) {
                                delete localStorage["x-api-user-code"];
                                location.assign("/form.html");
                            }
                            else {
                                alert("错误 " + error.response.status)
                            }
                        }
                    })
                    .finally(() => {
                        this.status.loading = false;
                        console.log("请求完成 <- ", url);
                    });
            },
            http_post: function (url, data, callback) {
                this.status.loading = true;
                console.log("开始请求数据 <- ", url);
                axios({
                    method: 'post',
                    url: url,
                    data: data,
                    headers: {
                        "x-api-user-code": localStorage["x-api-user-code"],
                        "content-type": "application/json",
                    }
                })
                    .then((response) => {
                        callback(response);
                    })
                    .catch((error) => {
                        if (error) {
                            console.log("error:", error);
                            if (error.response.status in { 401: "", 403: "" }) {
                                delete localStorage["x-api-user-code"];
                                location.assign("/form.html");
                            }
                            else {
                                alert("错误 " + error.response.status)
                            }
                        }
                    })
                    .finally(() => {
                        this.status.loading = false;
                        console.log("请求完成 <- ", url);
                    });
            },
            // /api/xlsx/{form_id}/sheet/columns
            after_load_rows: function (response) {
                console.log(response);
                // this.rows.data = [];
                // response.data.forEach((currentValue, index, arr)=>{
                //     currentValue.index = this.status.offset + index + 1;
                //     this.familys.table.push(currentValue);
                // })
                this.rows = response.data.db[1];

            },
            load_rows: function () {
                this.http_get(this.api.rows(form_id) + "?offset=" + this.status.offset + "&limit=" + this.status.limit, this.after_load_rows);
            },

            after_load_columns: function (response) {
                console.log(response);
                // this.rows.data = [];
                // response.data.forEach((currentValue, index, arr)=>{
                //     currentValue.index = this.status.offset + index + 1;
                //     this.familys.table.push(currentValue);
                // })
                this.columns = response.data;
                this.columns.data.forEach(element => {
                    this.thisNewRow[element.column_name] = element.defalt_value + ":" + element.type;
                });

            },
            load_columns: function () {
                this.http_get(this.api.columns(form_id), this.after_load_columns);
            },

            after_do_login: function (response) {
                console.log(response);
                if (response.data.code == 200) {
                    localStorage["x-api-user-code"] = response.data["x-api-user-code"];
                    this.login.status = true;
                    this.login.name = response.data.name;
                    localStorage["name"] = response.data.name;
                    this.login.visible = false;
                    this.message("欢迎你 " + response.data.name, "success");

                    this.load_rows();
                    this.load_columns();
                } else {
                    this.message(response.data.errmsg, "warning");
                }
            },
            do_login() {
                if (this.login.account.length > 2 && this.login.password.length > 2) {
                    this.http_post(this.api.form_user_login(form_id), { "account": this.login.account, "password": this.login.password }, this.after_do_login)
                }
            },
            after_doNewRow(response) {
                if (response.data.code == 200) {
                    this.message("保存成功", "success");
                    this.load_rows(this.status.offset);
                    this.newRowVisible = false;
                    this.thisNewRow = {};
                    this.thisRowId = "";
                } else {
                    this.message(response.data.errmsg, "warning");
                }
            },
            doNewRow() {
                console.log(this.thisNewRow);
                this.http_post(this.api.row(form_id), this.thisNewRow, this.after_doNewRow)

            },
            doUpdateRow() {
                this.http_post(this.api.update_row(form_id, this.thisRowId), this.thisNewRow, this.after_doNewRow)
            },
            updateRow(row) {
                this.thisRowId = row.id;
                console.log("update", row.id);
                delete row["id"];
                this.thisNewRow = row;
                this.newRowVisible = true;
            },
            deleteRow(row) {
                let ok = confirm(`确认要删除以下数据吗？\n${Object.values(row).join(" | ")} `);
                if (ok) {
                    axios.delete(
                        this.api.delete_row(form_id, row.id), {
                        headers: {
                            "x-api-user-code": localStorage["x-api-user-code"]
                        }
                    }
                    )
                    this.load_rows();
                }

            },
            outputRow(row) {
                let ok = confirm(`确认要导出以下数据吗？\n${Object.values(row).join(" | ")} `);
                if (ok) {
                    axios.get(this.api.output_row(form_id, row.id),{
                        responseType: 'arraybuffer',
                        headers: {
                            "x-api-user-code": localStorage["x-api-user-code"]
                        }
                    })
                    .then((resp) => {
                        console.log(resp);
                        console.log(resp.headers["content-type"]);
                        const link = document.createElement('a');
                        link.style.display = "none";
                        let blob = new Blob([resp.data], {type: resp.headers["content-type"]});
                        let objectUrl = URL.createObjectURL(blob);
                        link.href = objectUrl;
                        link.download = '导出数据.xlsx';
                        link.click();
                        URL.revokeObjectURL(objectUrl);
                        document.body.removeChild(link);
                    })
                }
            },


            // edit_family: function (row) {
            //     this.familys.is_edit = true;
            //     this.familys.temp = row;
            //     console.log(row);
            // },
            // after_update_family: function (response) {
            //     console.log(response.data);
            //     this.message("更新成功", "success");
            //     this.load_familys(this.status.offset);

            // },
            // update_family: function (family) {
            //     this.familys.is_edit = false;
            //     this.familys.temp = {};
            //     console.log(family);
            //     this.http_post(this.api.family, family, this.after_update_family)
            // },
            // handleClose(done) {
            //     this.$confirm('确认返回？')
            //         .then(_ => {
            //             done();
            //         })
            //         .catch(_ => { });
            // },
            message(text, type) {
                this.$message({
                    showClose: true,
                    message: text,
                    type: type
                });
            },

        }
    })
</script>

<style>
    p {
        color: #72767b;
    }

    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }

    .lds-spinner {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;
    }

    .lds-spinner div {
        transform-origin: 20px 20px;
        animation: lds-spinner 1.2s linear infinite;
    }

    .lds-spinner div:after {
        content: " ";
        display: block;
        position: absolute;
        top: 1.5px;
        left: 18.5px;
        width: 3px;
        height: 9px;
        border-radius: 10%;
        background: #1A2B3C;
    }

    .lds-spinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
    }

    .lds-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
    }

    .lds-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
    }

    .lds-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
    }

    .lds-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
    }

    .lds-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
    }

    .lds-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
    }

    .lds-spinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
    }

    .lds-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
    }

    .lds-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
    }

    .lds-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
    }

    .lds-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
    }

    @keyframes lds-spinner {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .fixed_full {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .flex_center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .flex_between {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .z_top {

        z-index: 999;
    }

    .bg_01 {
        /*color: #333;*/
        background-color: #ffffff95;
    }

    .el-drawer__body {
        padding: 20px;
        overflow: auto;

    }
</style>

</html>